language: perl
perl:
    - "5.22"
    - "5.20"
    - "5.18"
    - "5.16"
    - "5.14"
    - "5.12"

install:
    - cpanm --quiet --notest --skip-satisfied Dist::Milla

script:
    - milla smoke --release --author

after_success:
    - cpanm --quiet --notest --skip-satisfied Devel::Cover::Report::Coveralls
    - cpanm --quiet --notest --skip-satisfied Dist::Zilla::App::Command::cover
    - dzil cover -outputdir cover_db -report coveralls

env: RELEASE_TESTING=1 AUTOMATED_TESTING=1 AUTHOR_TESTING=1
